<%- include('partials/header') %>
<%-include('partials/loadhead') %>
<!-- loader handled via JS; no body tag here -->
<div id="loader"></div>
<div style="display:none;" id="myDiv" class="animate-bottom">
  <!-- complete body without including head -->
  <div class="container-fluid">
    <div class="row">
  <div class="card text-center" style="width: 35rem; margin: 0px 30px 30px 30px;">
    <div class="card-body"  >
      <h4 class="card-title">K-Nearest-Neigbor (KNN)</h4>
      <p class="card-text"><%=p_knn_bin_cls%></p>
      <p class="card-text"><%=p_knn_mul_cls%></p>
      <p class="card-text"><%=p_knn_desc%></p>
      <p class="card-text">KNN Binary Class Accuracy = <%=p_knn_bin_acc%></p>
      <p class="card-text">KNN Multi Class Accuracy = <%=p_knn_mul_acc%></p>
      <a class="btn btn-primary" href="/knn_bin_table" role="button">Binary-Class Classification Table</a>
      <a class="btn btn-outline-light" href="/knn_table" role="button">Multi-Class Classification Table</a>
    </div>
  </div>
  <div class="card text-center" style="width: 35rem; margin: 0px 30px 30px 30px;">
    <div class="card-body"  >
      <h4 class="card-title">Random Forest</h4>
      <p class="card-text"><%=p_rf_bin_cls%></p>
      <p class="card-text"><%=p_rf_mul_cls%></p>
      <p class="card-text"><%=p_rf_desc%></p>
      <p class="card-text">Random Forest Binary Class Accuracy = <%=p_rf_bin_acc%></p>
      <p class="card-text">Random Forest Multi Class Accuracy = <%=p_rf_mul_acc%></p>
      <a class="btn btn-primary" href="/rf_bin_table" role="button">Binary-Class Classification Table</a>
      <a class="btn btn-outline-light" href="/rf_table" role="button">Multi-Class Classification Table</a>
    </div>
  </div>
  <div class="card text-center" style="width: 35rem; margin: 0px 30px 30px 30px;">
    <div class="card-body"  >
      <h4 class="card-title">Convolutional Neural Network (CNN)</h4>
      <p class="card-text"><%=p_cnn_bin_cls%></p>
      <p class="card-text"><%=p_cnn_mul_cls%></p>
      <p class="card-text"><%=p_cnn_desc%></p>
      <p class="card-text">CNN Binary Class Accuracy = <%=p_cnn_bin_acc%></p>
      <p class="card-text">CNN Multi Class Accuracy = <%=p_cnn_mul_acc%></p>
      <a class="btn btn-primary" href="/cnn_bin_table" role="button">Binary-Class Classification Table</a>
      <a class="btn btn-outline-light" href="/cnn_table" role="button">Multi-Class Classification Table</a>
    </div>
  </div>
  <div class="card text-center" style="width: 35rem; margin: 0px 30px 30px 30px;">
    <div class="card-body"  >
      <h4 class="card-title">Long Short Term Memory (LSTM) </h4>
      <p class="card-text"><%=p_lstm_bin_cls%></p>
      <p class="card-text"><%=p_lstm_mul_cls%></p>
      <p class="card-text"><%=p_lstm_desc%></p>
      <p class="card-text">LSTM Binary Class Accuracy = <%=p_lstm_bin_acc%></p>
      <p class="card-text">LSTM Multi Class Accuracy = <%=p_lstm_mul_acc%></p>
      <a class="btn btn-primary" href="/lstm_bin_table" role="button">Binary-Class Classification Table</a>
      <a class="btn btn-outline-light" href="/lstm_table" role="button">Multi-Class Classification Table</a>
    </div>
  </div>
  <div class="login-box">
    <a class="btn btn-primary" href="/submit" role="button">Predict Again!</a>
  </div>
    </div>
    <%-include('partials/footer') %>
</div>
<script>
var myVar;
function myFunction() {
  myVar = setTimeout(showPage, 13000);
}
<%-include('partials/loadfoot') %>